---
---

@import "{{ site.theme }}";

@media print, screen and (max-width: 960px) {

    .img-circle {
        display: block !important;
        width: 50px;
        float: left;
        margin-right: 10px;
    }
}
